body
{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

    font-size: 16px;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    padding: 0;

    text-align: center;

    color: #212529;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

    align-content: center;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px)
{
    body
    {
        flex-direction: row;

        text-align: left;
    }
}


h1
{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;

    margin: 0;
    height: 30px;
}
h2,
.h2
{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.33;

    display: block;

    margin: 0;
    -webkit-transform: translateZ(0px);
    color: #343a40;
}


.title {
    line-height: 30px;
}


h2
{
    display: none;
}


.no-js h2
{
    display: inline-block;
}

.h2
{
    display: inline-block;
}

#logo
{
    width: 100%;
    max-width: 4.5rem;
    height: auto;
    margin-right: .5rem;

    fill: none;
    stroke: #0000ea;
    stroke-width: 1pt;
}


polygon
{
    -webkit-animation: dash 1s ease-in forwards;
            animation: dash 1s ease-in forwards;

    stroke-dasharray: 260 1000;
    stroke-dashoffset: 261;
}

@-webkit-keyframes dash
{
    to
    {
        stroke-dashoffset: 0;
    }
}

@keyframes dash
{
    to
    {
        stroke-dashoffset: 0;
    }
}

.headings
{
    min-width: 250px;
}


.typed-cursor
{
    /*font-weight: 100;*/
    -webkit-animation: blink .7s infinite;
       -moz-animation: blink .7s infinite;
        -ms-animation: blink .7s infinite;
            animation: blink .7s infinite;

    opacity: 1;
    color: #0000ea;
}

@keyframes blink
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@-webkit-keyframes blink
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@-moz-keyframes blink
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@-ms-keyframes blink
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
