body {
    background-color: darkslateblue;
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.heading {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 5vw;
    color: #fff;
}

.is-animated {
    animation: fade-in 2s;
}


@keyframes fade-in {
    0%   {
        opacity: 0;
        transform: scale(.8);
    }
    100%   {
        opacity: 1;
        transform: scale(1);
    }
}
